{% load static %}
{% comment %} {% extends "index.html" %}  {% endcomment %}
{% block title %}
<body>
{% endblock %} 
{% block content %}
<style>
    body {
        background-image: url('https://cdn-icons-png.flaticon.com/512/6146/6146586.png');
        background-repeat: no-repeat;
        background-size: 200px; /* Adjust the size as needed */
        background-position: center center;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }

    .reset-content {
        text-align: center;
        font-family: 'Poppins', sans-serif;
        padding: 60px;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 10px;
    }

    h1 {
        margin-top: 20px;
    }
</style>
<div class="reset-content">
    <h1>Reset your password</h1>
    <p>We've emailed you instructions for setting your password.</p>
    <p>If you don't receive an email, please make sure you've entered the address you registered with.</p>
</div>
{% endblock %}
</body>
