{% load static %}
{% comment %} {% extends "index.html" %}  {% endcomment %}
{% block title %}
<style>
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://www.freeiconspng.com/thumbs/forgot-password-icon/forgot-password-icon-14.png');
    background-repeat: no-repeat;
    background-size: 400px; /* Adjust the size of the background image */
    background-position: center center;
  }

  .container {
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  p {
    font-size: 16px;
    margin: 0;
  }

  a {
    color: #007bff;
    text-decoration: none;
  }
</style>
{% endblock %}

{% block content %}
<div class="container">
  <h1>Password Set</h1>
  <p>Your password has been successfully set. You can <a href="{% url 'login' %}">login now</a>.</p>
</div>
{% endblock %}
