{% load static %}
<!DOCTYPE html>
<html lang="en">
   
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>ReportSafer | Home</title>
      <link rel="icon" href="{% static 'images/logo2.jpg' %}" type="image/x-icon">
      {% comment %} <link rel="icon" href="https://www.w3docs.com/favicon.ico" /> {% endcomment %}
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
      <!-- style css -->
      <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
      <!-- Responsive-->
      <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
      <!-- fevicon -->
      <link rel="icon" href="{% static 'images/fevicon.png' %}" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.min.css' %}">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <!-- fonts -->
      <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
      <!-- owl stylesheets -->
      <link href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.css" rel="stylesheet" />
      <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
      <style>
         .error {
            color: red;
        }

        #google_translate_element .skiptranslate{
         display: inline !important;
 
         }
         #google_translate_element .skiptranslate{
            display: inline !important;
    
        }
        .goog-te-gadget{
            color: transparent !important;
        }
        /* Dark Theme for the select dropdown */
        .goog-te-combo {
            padding: 1px; /* Add padding for spacing */
            font-size: 14px; /* Set font size */
            border: 1px solid #666; /* Dark border */
            border-radius: 4px; /* Add rounded corners */
            {% comment %} background-color: #333; /* Dark background color */
            color: #fff; /* Light text color */ {% endcomment %}
        }
    
        /* Style the select dropdown when it's hovered */
        .goog-te-combo:hover {
            border-color: #999; /* Darker border color on hover */
        }
    
        /* Style the select dropdown when it's focused (clicked) */
        .goog-te-combo:focus {
            outline: none; /* Remove the default focus outline */
            border-color: #007bff; /* Change border color on focus */
            box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Add a shadow on focus */
        }
    
        /* Style the dropdown arrow */
        .goog-te-combo-arrow {
            font-size: 12px; /* Adjust arrow size */
            color: #fff; /* Light arrow color */
        }
    
        /* Style the dropdown options */
        .goog-te-menu-value {
            font-size: 14px; /* Set font size for options */
            color: #fff; /* Light text color for options */
            background-color: #333; /* Dark background color for options */
        }
    
        /* Style the dropdown options on hover */
        .goog-te-menu-value:hover {
            background-color: #007bff; /* Change background color on hover */
            color: #fff; /* Light text color on hover */
        }
        iframe#\:1.container {
         display: none;
     }
   
     
      </style>
      <script>
         // Define the function to hide the iframe
function hideIframe() {
   // Get the iframe element
   var iframe = document.getElementById(':1.container');

   // Check if the iframe element exists
   if (iframe) {
       // Change the visibility to hidden
       iframe.style.visibility = 'hidden';
   }
}

// Call the function every 5 seconds (5000 milliseconds)
setInterval(hideIframe, 100);

      </script>
   </head>
   <body style='font-family:Poppins,sans-serif;'>
      <div class="alan-btn"></div>
      <!-- header section start -->
      <div class="header_section ">
         <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top-navbar">
               <a class="logo" href="{% url 'index' %}"><img style="width:50px; margin-left:50px;" src="{% static 'images/logo2.jpg' %}"></a>
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto mt-3">
                     {% if user.is_authenticated %}
                     {% comment %} <li class="nav-item active">
                        <a class="nav-link" id="index" href="{% url 'index' %}">Home</a>
                     </li> {% endcomment %}
                     <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">About Us</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="{% url 'general' %}">General Information</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="{% url 'laws' %}">Laws</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="{% url 'crime_category' %}">Report a crime</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="{% url 'listcrime' %}">View Crime Status</a>
                     </li>
                     {% comment %} <li class="nav-item">
                      <a class="nav-link" href="{% url 'gallery' %}">Gallery</a>
                      </li> {% endcomment %}
                     {% comment %} <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}">Contacts</a>
                     </li> {% endcomment %}
                     {% comment %} <div class="navbar-nav ml-auto">
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" id="activity" data-toggle="dropdown">Your Activity</a>
                            <div class="dropdown-menu"> 
                                <a href="{% url 'crime_category' %}" id="reportcrime" class="dropdown-item">Report a Crime</a>
                                <a href="{% url 'listcrime' %}" id="viewcrime" class="dropdown-item">View Crime Status</a>
                                <a href="{% url 'book_appointment' %}" id="jailtime" class="dropdown-item">Book Prison Inmate Visiting Time</a>       
                            </div>
                        </div>
                    </div> {% endcomment %}
                     <li class="nav-item">
                     <a class="nav-link" href="{% url 'logout' %}">Logout</a><br>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" ><img style="width:30px;height:40px;" src= {% static "images/user.jpg" %}> {{ user.name }}</a>
                     {% else %}
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="http://127.0.0.1:8000/userregister">Register</a>
                     </li> 
                     {% comment %} <div class="navbar-nav ml-auto">
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">User Account</a>
                            <div class="dropdown-menu"> 
                                <a href="http://127.0.0.1:8000/witnessregister" class="dropdown-item">Register as Witness</a>
                                <a href="http://127.0.0.1:8000/victimregister" class="dropdown-item">Register as Victim</a>       
                            </div>
                        </div>
                    </div> {% endcomment %}
                   
                     {% comment %} <li class="nav-item">
                        <a class="nav-link" href="http://127.0.0.1:8000/register">Register</a>
                     </li> {% endcomment %}
                     <li class="nav-item">
                        <a class="nav-link" href="http://127.0.0.1:8000/login">Login</a>
                     </li>
                     {% endif %}
                     {% comment %} <h2>User: {{user.name}}</h2> {% endcomment %}
                  </ul>
                  <!-- <form class="form-inline my-2 my-lg-0">
                     <div class="login_menu">
                        <ul>
                           <li><a href="#">Login</a></li>
                           <li><a href="#">Register</a></li>
                           <li><a href="#"><img src="images/user-icon.png"></a></li>
                           <li><a href="#"><img src="images/search-icon.png"></a></li>
                        </ul>
                     </div>
                  </form> -->
               </div>
            </nav>
         </div>
      </div>
      
      <!-- header section end -->
      <!-- banner section start --><br><br><br><br><br>
      <div style="position: relative;"><span style="margin-left:72.5%;">Select Language: </span>

      <div style="margin-left: 85%; position: absolute; top: 0; bottom: 0;" id="google_translate_element"></div></div>

      <div class="banner_section banner_bg notranslate" style="position: relative;">
         <div class="container-fluid">
            <div id="my_slider" class="carousel slide" data-ride="carousel">
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="taital_main">
                        <div class="taital_left">
                           <h1 class="banner_taital" style="text-transform: capitalize;">ReportSafer with Us...</h1>
                        </div>
                        <div class="taital_right mt-3">
                           <div class="product_img mt-5"><img src="{% static 'images/bg1-transformed.png' %}"></div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>


      {% comment %} <div class="about_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-md-6">
                  <div><img style="height:450px;width:600px;" src="{% static 'images/abt-pic.jpg' %}" class="about_img"></div>
               </div>
               <div class="col-md-6">
                  <h1 class="about_taital">About Us</h1>
                  <p class="about_text">ReportSafer has a reputation for being one of the best-managed law-enforcement forces in the country and is one of the top-ranking states in terms of maintenance of law and order.</p>
                  <div class="read_bt_1"><a href="{% url 'about' %}">Read More</a></div>
               </div>
            </div>
         </div>
      </div> {% endcomment %}
      <!-- about section end -->
      <!-- product section start -->{% if user.is_authenticated %}
      <div class="product_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <h1 class="product_taital">OUR E-SERVICES</h1>
               </div>
            </div>
            
            <a href="{% url 'crime_category' %}">
            <div class="card-deck">
               <div class="card" style="margin-left:-10px;">
                 <img class="card-img-top" style="width:80px;height:80px;margin-left:42%;" src="{% static 'images/help1.jpg' %}" alt="Card image cap">
                 <div class="card-body">
                   <h5 class="card-title" style="text-align:center;">REPORT A CRIME</h5>
                   <p class="card-text" style="text-align:center;">Instant Action.</p>
                 </div>
               </div>
            </a>
               
            <a href="{% url 'listcrime' %}">
               <div class="card">
                 <img class="card-img-top" style="width:80px;height:75px;margin-left:42%;margin-top:5px;" src="{% static 'images/e-service-status.png' %}" alt="Card image cap">
                 <div class="card-body">
                   <h5 class="card-title" style="text-align:center;">VIEW REPORTED CRIME STATUS</h5>
                   <p class="card-text" style="text-align:center;">Check Crime Reports.</p>
                 </div>
               </div>
            </a>
            
            <a href="{% url 'find_police_stations' %}">
               <div class="card">
                 <img class="card-img-top" style="width:80px;height:75px;margin-left:44%;margin-top:5px;" src="{% static 'images/e-service-map.png' %}" alt="Card image cap">
                 <div class="card-body">
                   <h5 class="card-title" style="text-align:center;margin-left:50px;">LOCATE YOUR STATION</h5>
                   <p class="card-text" style="text-align:center;margin-left:50px;">Locate Instantly.</p>
                 </div>
               </div>
            </a>
               {% comment %} <div class="card">
                 <img class="card-img-top" src="..." alt="Card image cap">
                 <div class="card-body">
                   <h5 class="card-title">Card title</h5>
                   <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                 </div>
                 <div class="card-footer">
                   <small class="text-muted">Last updated 3 mins ago</small>
                 </div>
               </div> {% endcomment %}
             </div>{% endif %}

            {% comment %} <div class="contain">
                  <div class="report-crime-service">
                     <h2>REPORT A CRIME</h2>
                     <img style="width:50%;height:20%;" src='{% static 'images/help.jpg' %}'>
                   </div>
                   <div class="report-crime-service">
                     <h2>REPORT A CRIME</h2>
                     <img style="width:16%;height:50%" src='{% static 'images/help.jpg' %}'>
                   </div>
                  <div class="owl-carousel owl-theme">
                     <div class="item">
                        <div class="image_main"><img src="{% static 'images/img-2.png' %}" alt="image" /></div>
                        <h6 class="price_text">Price <br><span style="color: #f75261;">$10</span></h6>
                     </div>
                     <div class="item">
                        <div class="image_main"><img src="{% static 'images/img-2.png' %}" alt="image" /></div>
                        <h6 class="price_text">Price <br><span style="color: #f75261;">$10</span></h6>
                     </div>
                     <div class="item">
                        <div class="image_main"><img src="{% static 'images/img-2.png' %}" alt="image" /></div>
                        <h6 class="price_text">Price <br><span style="color: #f75261;">$10</span></h6>
                     </div>
                     <div class="item">
                        <div class="image_main"><img src="{% static 'images/img-2.png' %}" alt="image" /></div>
                        <h6 class="price_text">Price <br><span style="color: #f75261;">$10</span></h6>
                     </div>
                     <div class="item">
                        <div class="image_main"><img src="{% static 'images/img-2.png' %}" alt="image" /></div>
                        <h6 class="price_text">Price <br><span style="color: #f75261;">$10</span></h6>
                     </div>
                     <div class="item">
                        <div class="image_main"><img src="{% static 'images/img-2.png' %}" alt="image" /></div>
                        <h6 class="price_text">Price <br><span style="color: #f75261;">$10</span></h6>
                     </div>
                     <div class="item">
                        <div class="image_main"><img src="{% static 'images/img-2.png' %}" alt="image" /></div>
                        <h6 class="price_text">Price <br><span style="color: #f75261;">$10</span></h6>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div> {% endcomment %}
      <!-- product section start -->
      <!-- client section start -->
      <div class="client_section layout_padding banner_bg">
         <div class="container">
            <div class="row">
               <div class="col-md-3">
                  <h1 class="client_taital">TRUE WORDS</h1>
               </div>
               <div class="col-md-9">
                  <div class="client_box">
                     <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                           <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                           <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                           {% comment %} <li data-target="#carouselExampleIndicators" data-slide-to="2"></li> {% endcomment %}
                        </ol>
                        <div class="carousel-inner">
                           <div class="carousel-item active">
                              <p class="client_text" style="text-align:justify;">I encourage each and every one of you to use this platform responsibly and actively participate in ensuring the safety and well-being of our society. Let's work together to make our state a safer place for all.</p>
                              <div class="client_main">
                                 <div class="client_left">
                                    <div class="client_img"><img style="width:180px;height:169px;" src="{% static 'images/chief-min.png' %}"></div>
                                 </div>
                                 <div class="client_right">
                                    <div class="quick_icon"><img src="{% static 'images/quick-icon.png' %}"></div>
                                    <h6 class="client_name">Pinarayi Vijayan</h6>
                                    <p class="aliqua_text">Chief Minister, Kerala</p>
                                 </div>
                              </div>
                           </div>
                           <div class="carousel-item">
                              <p class="client_text" style="text-align:justify;">With this online platform, you now have the power to report crimes from the comfort of your home or on the go, ensuring that no incident goes unnoticed or unaddressed. It's a tool designed with your convenience and safety in mind.</p>
                              <div class="client_main">
                                 <div class="client_left">
                                    <div class="client_img"><img style="width:150px;height:169px;" src="{% static 'images/police-chief.jpg' %}"></div>
                                 </div>
                                 <div class="client_right">
                                    <div class="quick_icon"><img src="{% static 'images/quick-icon.png' %}"></div>
                                    <h6 class="client_name">Dr. Shaik Darvesh Saheb IPS</h6>
                                    <p class="aliqua_text">State Police Chief</p>
                                 </div>
                              </div>
                           </div>
                           {% comment %} <div class="carousel-item">
                              <p class="client_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laborisLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
                              <div class="client_main">
                                 <div class="client_left">
                                    <div class="client_img"><img src="{% static 'images/client-img.png' %}"></div>
                                 </div>
                                 <div class="client_right">
                                    <div class="quick_icon"><img src="statimages/quick-icon.png"></div>
                                    <h6 class="client_name">Uliya Hindd</h6>
                                    <p class="aliqua_text">Aliqua. Ut enim</p>
                                 </div>
                              </div>
                           </div> {% endcomment %}
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- client section end -->
      
      <!-- contact section start -->
      <section>
      <div class="contact_section layout_padding">
         <div class="container-fluid">
            <h1 class="contact_taital">Contact Us</h1>
            <div class="contact_section_2">
               <div class="row">
                  <div class="col-md-6">
                     <div class="image_7"><img style="height:500px;" src="{% static 'images/index-contact.jpg' %}"></div>
                  </div>
                  <div class="col-md-6">

                     <form method="post">
                        {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-success text-center">{{ message }}</div>
                        {% endfor %}
                        {% endif %}
                        {% csrf_token %}
                        <div class="mail_section_1">
                            <input type="text" class="mail_text" placeholder="Your Name" name="your_name">
                            <input type="text" class="mail_text" placeholder="Phone Number" name="phone_number">
                            <input type="text" class="mail_text" placeholder="Email" name="email">
                            <textarea class="massage-bt" placeholder="Message" rows="5" id="comment" name="message"></textarea>
                            <div class="send_bt"><button type="submit" style="background-color: #363062;
                              border: none;
                              color: white;
                              padding: 15px 32px;
                              text-align: center;
                              text-decoration: none;
                              display: inline-block;
                              font-size: 16px;">SEND</button></div>
                        </div>
                    </form>

                     {% comment %} <div class="mail_section_1">
                        <input type="text" class="mail_text" placeholder="Your Name" name="Your Name">
                        <input type="text" class="mail_text" placeholder="Phone Number" name="Phone Number">
                        <input type="text" class="mail_text" placeholder="Email" name="Email">
                        <textarea class="massage-bt" placeholder="Message" rows="5" id="comment" name="Massage"></textarea>
                        <div class="send_bt"><a href="#">SEND</a></div>
                     </div> {% endcomment %}
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- contact section end -->

      <!-- footer section start -->
      {% comment %} <div class="footer_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-lg-3 col-md-6">
               </div>
               
               <div class="col-lg-3 col-md-6">
                  <div class="social_icon">
                     <ul>
                        <li><a href="#"><img src="{% static 'images/fb-icon.png' %}"></a></li>
                        <li><a href="#"><img src="{% static 'images/twitter-icon.png' %}"></a></li>
                        <li><a href="#"><img src="{% static 'images/linkedin-icon.png' %}"></a></li>
                        <li><a href="#"><img src="{% static 'images/instagram-icon.png' %}"></a></li>
                        <li><a href="#"><img src="{% static 'images/youtub-icon.png' %}"></a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div> {% endcomment %}
      <!-- footer section end -->
      <!-- copyright section start -->
      <div class="copyright_section">
         <div class="container">
            <p class="copyright_text">© 2024 All Rights Reserved.</p>
         </div>
      </div>
      <!-- copyright section end  -->
      <!-- Javascript files-->
      <script src="{% static 'js/jquery.min.js' %}"></script>
      <script src="{% static 'js/popper.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
      <script src="{% static 'js/plugin.js' %}"></script>
      <!-- sidebar -->
      <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
      <script src="{% static 'js/custom.js' %}"></script>
      <!-- javascript --> 
      <script src="{% static 'js/owl.carousel.js' %}"></script>
      <!-- owl carousel -->
      <script>
         $('.owl-carousel').owlCarousel({
         loop:true,
         margin:30,
         nav:true,
         responsive:{
          0:{
              items:1
          },
          600:{
              items:3
          },
          1000:{
              items:4
          }
         }
         })
      </script>
      <script type="text/javascript">
         (function(d, m){
             var kommunicateSettings = 
                 {"appId":"1beeae492616b3f0f62d1b0bcc657caa8","popupWidget":true,"automaticChatOpenOnNavigation":true};
             var s = document.createElement("script"); s.type = "text/javascript"; s.async = true;
             s.src = "https://widget.kommunicate.io/v2/kommunicate.app";
             var h = document.getElementsByTagName("head")[0]; h.appendChild(s);
             window.kommunicate = m; m._globals = kommunicateSettings;
         })(document, window.kommunicate || {});
     /* NOTE : Use web server to view HTML files as real-time update will not work if you directly open the HTML file in the browser. */
     </script>
     <script type="text/javascript"> 
         function googleTranslateElementInit() {
         new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
         }
      </script>


      <script src="https://studio.alan.app/web/lib/alan_lib.min.js"></script>
<script type="text/javascript"
 src="https://studio.alan.app/web/lib/alan_lib.min.js"></script>
<script>
  var alanBtnInstance = alanBtn({
    key: "bcc62d0da2c2e443149b3d889bb3420f2e956eca572e1d8b807a3e2338fdd0dc/stage",
    onCommand: function (commandData) {
      if (commandData.command === "feed") {
        window.location.href = "http://127.0.0.1:8000/following_feeds";
      }else if (commandData.command === "scout") {
            window.location.href = "http://127.0.0.1:8000/PlayerScout";
        } else if (commandData.command === "club") {
            window.location.href = "http://127.0.0.1:8000/player-club";
        } else if (commandData.command === "report") {
            window.location.href = "http://127.0.0.1:8000/crime_category/";
        } else if (commandData.command === "law") {
            window.location.href = "http://127.0.0.1:8000/laws/";
        }else if (commandData.command === "home") {
            window.location.href = "http://127.0.0.1:8000/";
        }
      
    },
    rootEl: document.getElementById("alan-btn"),
  });
</script>
      <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
   </body>
</html>