{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>ReportSafer | Report a Crime</title>
      <link rel="icon" href="{% static 'images/logo2.jpg' %}" type="image/x-icon">
      {% comment %} <link rel="icon" href="https://www.w3docs.com/favicon.ico" /> {% endcomment %}
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
      <!-- style css -->
      <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
      <!-- Responsive-->
      <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
      <!-- fevicon -->
      <link rel="icon" href="{% static 'images/fevicon.png' %}" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.min.css' %}">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <!-- fonts -->
      <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
      <!-- owl stylesheets -->
      <link href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.css" rel="stylesheet" />
    <style>

    /* Reset some default styles */
    body, h1 {
        font-family: 'Poppins', sans-serif;
        margin: 0;
        padding: 0;
        background-image: {% static 'images/bg.jpg' %};
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    form {
        
        max-width: 1000px;
        margin: 0 auto;
        padding: 20px;
        background-color: #e3d1d1; /* Adjust opacity here */
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    #reportform{
        margin-top:100px;
        margin-bottom:10px;
    }

    /* Apply some basic styling to the form */
    form {
        max-width: 1000px;
        margin: 0 auto;
        padding: 20px;
        background-color: #e3d1d1;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    /* Style form headings */
    h1 {
        text-align: center;
        color: #333;
    }
    
    /* Style form labels */
    label {
        display: block;
        font-weight: bold;
        margin-top: 10px;
    }
    
    /* Style form input fields and text area */
    input[type="text"],
    input[type="date"],
    input[type="time"],
    textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
    }
    
    /* Style the submit button */
    button[type="submit"] {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        margin-left:40%;
    }
    
    /* Style error messages */
    .error {
        color: #ff0000;
        font-size: 12px;
        display: block;
        margin-top: 5px;
    }
    
    /* Add some spacing between form groups */
    .form-group {
        margin-bottom: 20px;
    }
    
    </style>
</head>

<body style="'font-family:Poppins,sans-serif';background:black;">
    <!-- header section start -->
    <div class="header_section ">
       <div class="container-fluid">
          <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top-navbar">
             <a class="logo" href="{% url 'index' %}"><img style="width:50px; margin-left:50px;" src="{% static 'images/logo2.jpg' %}"></a>
             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
             </button>
             <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto mt-3">
                   {% if user.is_authenticated %}
                   <li class="nav-item active">
                      <a class="nav-link" href="{% url 'index' %}">Home</a>
                   </li>
                   <li class="nav-item">
                      <a class="nav-link" href="{% url 'about' %}">About Us</a>
                   </li>
                   <li class="nav-item">
                      <a class="nav-link" href="{% url 'general' %}">General Information</a>
                   </li>
                   <li class="nav-item">
                      <a class="nav-link" href="{% url 'laws' %}">Laws</a>
                   </li>
                   <li class="nav-item">
                    <a class="nav-link" href="{% url 'gallery' %}">Gallery</a>
                    </li>
                   <li class="nav-item">
                      <a class="nav-link" href="{% url 'contact' %}">Contacts</a>
                   </li>
                   <div class="navbar-nav ml-auto">
                      <div class="nav-item dropdown">
                          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Your Activity</a>
                          <div class="dropdown-menu"> 
                              <a href="http://127.0.0.1:8000/report_crime" class="dropdown-item">Report a Crime</a>
                              <a href="{% url 'listcrime' %}" class="dropdown-item">View Crime Status</a>       
                          </div>
                      </div>
                  </div>
                   <li class="nav-item">
                   <a class="nav-link" href="{% url 'logout' %}">Logout</a><br>
                   </li>
                   <li class="nav-item">
                      <a class="nav-link" ><img style="width:30px;height:40px;" src= {% static "images/user.jpg" %}> {{ user.name }}</a>
                   {% else %}
                   </li>
                   <li class="nav-item">
                      <a class="nav-link" href="http://127.0.0.1:8000/userregister">Register</a>
                   </li>
                   {% comment %} <div class="navbar-nav ml-auto">
                      <div class="nav-item dropdown">
                          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">User Account</a>
                          <div class="dropdown-menu"> 
                              <a href="http://127.0.0.1:8000/witnessregister" class="dropdown-item">Register as Witness</a>
                              <a href="http://127.0.0.1:8000/victimregister" class="dropdown-item">Register as Victim</a>       
                          </div>
                      </div>
                  </div> {% endcomment %}
                 
                   {% comment %} <li class="nav-item">
                      <a class="nav-link" href="http://127.0.0.1:8000/register">Register</a>
                   </li> {% endcomment %}
                   <li class="nav-item">
                      <a class="nav-link" href="http://127.0.0.1:8000/login">Login</a>
                   </li>
                   <li class="nav-item">
                      <a class="nav-link" href="http://127.0.0.1:8000/anony_report">Report Anonymously</a>
                   </li>
                   {% endif %}
                   {% comment %} <h2>User: {{user.name}}</h2> {% endcomment %}
                </ul>
                <!-- <form class="form-inline my-2 my-lg-0">
                   <div class="login_menu">
                      <ul>
                         <li><a href="#">Login</a></li>
                         <li><a href="#">Register</a></li>
                         <li><a href="#"><img src="images/user-icon.png"></a></li>
                         <li><a href="#"><img src="images/search-icon.png"></a></li>
                      </ul>
                   </div>
                </form> -->
             </div>
          </nav>
       </div>
    </div>

    
    <br>
    <form id="reportform" method="post" action="{% url 'generate_pdf' %}">
        {% csrf_token %}

        <h1 style="font-size: 27px;">Report a Crime</h1>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="reporter_name">Informer Name</label>
                    <input type="text" id="reporter_name" value="{{ user.name }}" name="reporter_name" readonly/>
                </div>
            </div>
        
            <div class="col-md-6">
                <div class="form-group">
                    <label for="aadhaarno">Your Aadhar Number *</label>
                    <input type="text" name="aadhaarno" id="adnumber" class="form-control">
                    <span id="aadhaarError"></span>
                </div>
            </div>
        </div>        

          <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="reporter_location">Please specify your Location *</label>
                    <select id="reporter_location" name="reporter_location" class="form-control">
                        {% for location in location_options %}
                            <option value="{{ location }}" {% if not location %}selected{% endif %}>{{ location }}</option>
                        {% endfor %}
                    </select>
                    <span id="locError"></span>
                </div>
            </div>
        
            <div class="col-md-6">
                <div class="form-group">
                    <label for="spec_station">Your Specified Station *</label>
                    <input type="text" id="spec_station" name="spec_station" class="form-control">
                    <span id="locError"></span>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="date">Date of Incidence *</label>
                    <input type="date" id="date" name="date" class="form-control">
                    <span id="dateError"></span>
                </div>
            </div>
        
            <div class="col-md-6">
                <div class="form-group">
                    <label for="time">Time of Incidence *</label>
                    <input type="time" id="time" name="time" class="form-control">
                    <span id="timeError"></span>
                </div>
            </div>
        </div>
        

        <div class="form-group">
            <label for="location">Location of Incidence *</label>
            <input type="text" id="location" name="location">
            <span id="locationError"></span>
        </div>

        <div class="form-group">
            <label for="description">Please provide a description of the Incident *</label>
            <textarea id="description" name="description"></textarea>
            <span id="descriptionError"></span>
        </div>

        <div class="form-group">
            <label for="offender_name">Offender Name</label>
            <input type="text" id="offender_name" name="offender_name" placeholder="If known"/>
            <span id="offnameError"></span>
        </div>

        <div class="form-group">
            <label for="offender_vehiclenumber">Offender Vehicle Number</label>
            <input type="text" id="offender_vehiclenumber" name="offender_vehiclenumber" placeholder="If any"/>
            <span id="vehnumError"></span>
        </div>

        <div class="form-group">
            <label for="witness_name">Witness Name</label>
            <input type="text" id="witness_name" name="witness_name" placeholder="If any"/>
            <span id="witnameError"></span>
        </div>
        <a href="{% url 'generate_pdf' %}"><button type="submit" class="btn btn-outline-info w-25 ml-50 mt-10"><i class="bi bi-file-earmark-arrow-down-fill"></i>Download your Response</button></a>

    </form>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>

        $(document).ready(function () {

            $('#reporter_location').on('blur', function() {
                var reporter_loc = $(this).val();
                
                $.ajax({
                    url: '/check_reporter_loc/',
                    data: { 'reporter_loc': reporter_loc },
                    dataType: 'json',
                    success: function(data) {
                        if (data.valid) {
                            $('#spec_station').val( data.enforcement_loc);
                        }
                    },
                    error: function() {
                        // Handle AJAX error
                        alert('An error occurred while checking Location.');
                    }
                });
            });

            $("#reporter_location").keyup(function () {
                validateRloc("#reporter_location");
            });
      
            $("#date").on("input", function () {
                validateDate("#date");
            });
      
            $("#location").keyup(function () {
              validateLoc("#location");
            });

            $("#adnumber").keyup(function () {
                aadharNumber("#adnumber");
            });

            $("#offender_name").keyup(function () {
                validateOname("#offender_name");
            });

            $("#offender_vehiclenumber").keyup(function () {
                validateVehiclenum("#offender_vehiclenumber");
            });

            $("#witness_name").keyup(function () {
                validateWname("#witness_name");
            });

          $("reportform").submit(function (event) {
            // Perform all validations before submitting the form
            validateOname("#offender_name");
            validateWname("#witness_name");
            validateRloc("#reporter_location");
            validateDate("#date");
            validateLoc("#location");
            validateVehiclenum("#offender_vehiclenumber");
            aadharNumber("#adnumber");
      
            // Check if any validation errors exist
            if ($(".validation-error").length > 0) {
              event.preventDefault(); // Prevent form submission
            }
          });
        });

        function validateOname(fieldId) {
            var oname = $(fieldId).val();
            var lettersWithSpaces = /^[A-Za-z\s]+$/;
            if (oname.trim() === "") {
                $("#offnameError").html("Enter the Name of the Offender").css("color", "red");
            } else if (!lettersWithSpaces.test(oname)) {
                $("#offnameError").html("Name field required only alphabet characters with spaces").css("color", "red");
            } else {
                $("#offnameError").html("");
            }
        }

        function validateWname(fieldId) {
            var wname = $(fieldId).val();
            var lettersWithSpaces = /^[A-Za-z\s]+$/;
            if (wname.trim() === "") {
                $("#witnameError").html("Enter the Name").css("color", "red");
            } else if (!lettersWithSpaces.test(wname)) {
                $("#witnameError").html("Name field required only alphabet characters with spaces").css("color", "red");
            } else {
                $("#witnameError").html("");
            }
        }

        function validateDate(fieldId) {
            var currentDate = new Date();
            var inputDate = new Date($(fieldId).val());
            var january1_2023 = new Date('2023-01-01'); // Create a Date object for January 1, 2023
        
            if (isNaN(inputDate.getTime())) {
                // Check if the input is not a valid date
                $("#dateError").html("Please enter a valid date").css("color", "red");
            } else if (inputDate > currentDate) {
                $("#dateError").html("Please enter a date earlier than the current date").css("color", "red");
            } else if (inputDate < january1_2023) {
                $("#dateError").html("Dates before January 1 2023 are not allowed").css("color", "red");
            } else {
                $("#dateError").html(""); // Reset the error message
            }
        }              

        function aadharNumber(fieldId) {
            var numberRegex = /^[-+]?\d*\.?\d+$/;
            var phoneNumber = $(fieldId).val();
        
            if (phoneNumber === "") {
                $("#aadhaarError").html("Enter the Aadhaar number").css("color", "red");
            } else if (!numberRegex.test(phoneNumber)) {
                $("#aadhaarError").html("Invalid Aadhaar Number").css("color", "red");
            } else if (phoneNumber.length > 12) {
                $("#aadhaarError").html("Enter Correct Aadhar Number").css("color", "red");
            } else if (phoneNumber.length < 12) {
                $("#aadhaarError").html("Enter Correct Aadhar Number").css("color", "red");
            } else {
                $("#aadhaarError").html("");
            }
        }

        function validateRloc(fieldId) {
            var rloc = $(fieldId).val();
            var lettersWithSpaces = /^[A-Za-z\s]+$/;
            if (rloc.trim() === "") {
                $("#locError").html("Enter the Location of the Informer").css("color", "red");
            } else if (!lettersWithSpaces.test(rloc)) {
                $("#locError").html("Location field required only alphabet characters with spaces").css("color", "red");
            } else {
                $("#locError").html("");
            }
        }

        function validateLoc(fieldId) {
            var loc = $(fieldId).val();
            var lettersWithSpaces = /^[A-Za-z\s]+$/;
            if (loc.trim() === "") {
                $("#locationError").html("Enter the Location of the Offender").css("color", "red");
            } else if (!lettersWithSpaces.test(loc)) {
                $("#locationError").html("Location field required only alphabet characters with spaces").css("color", "red");
            } else {
                $("#locationError").html("");
            }
        }

        function validateVehiclenum(fieldId) {
            var vehicleNumber = $(fieldId).val();
            var pattern = /^[A-Z]{2}\s\d{2}\s[A-Z]\s\d{4}$/; // Kerala vehicle number pattern
        
            if (pattern.test(vehicleNumber)) {
                $("#vehnumError").html(""); // Valid vehicle number
            } else {
                $("#vehnumError").html("Enter a valid vehicle number").css("color", "red");
            }
        }
        

      
      </script>      

</body>
</html>
