{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReportSafer | Template</title>
    <link rel="icon" href="{% static 'images/logo2.jpg' %}" type="image/x-icon">

</head>
<body>
    <h1>Crime Report</h1>
    <p><strong>Informer Name:</strong> {{ crime_report.reporter_name }}</p>
    <p><strong>Your Aadhar Number:</strong> {{ crime_report.aadhaarno }}</p>
    <p><strong>Location of Incidence:</strong> {{ crime_report.reporter_location }}</p>
    <p><strong>Type of Offence:</strong> {{ crime_report.off_type }}</p>
    <p><strong>Date and Time of Incidence:</strong> {{ crime_report.datetime }}</p>
    <p><strong>Description of the Incident:</strong> {{ crime_report.description }} </p>
    <p><strong>Description of the Victim:</strong> {{ crime_report.victimDescription}}</p>
    <p><strong>Description of the Offender, if known:</strong>{{ crime_report.offenderDescription }}</p>
    <p><strong>Information about the Witness, if any:</strong> {{ crime_report.witnessInformation }} </p>
    <p><strong>Reason for delay in Reporting:</strong> {{ crime_report.delay }} </p>
</body>
</html>
